<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de subida de archivos</title>
</head>
<body>
    <h1>Subir archivo DICOM</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="archivo_dicom" accept=".dcm">
        <button type="submit">subir</button>
    </form>

    {% if imagen %}
        <h2>Imagen DICOM</h2>
        <img src="{{ imagen}}" alt="Imagen DICOM" style="max-width: 100%; height: auto;">
    {% endif %}

    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}

    <form method="GET">
        <input type="text" name="search" placeholder="Buscar en cabecera..." value="{{ request.GET.search }}">
        <button type="submit">Buscar</button>
    </form>

    {% if metadata %}
        <h2>Información del DICOM</h2>
        <ul>
            {% for key, value in metadata.items %}
                {% if key != 'Pixel Data' %}
                    <li><strong>{{ key }}:</strong> {{ value }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}

</body>
</html>
