<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de subida de archivos</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>
<body>
    <div class="navbar">
        {% if user.is_authenticated %}
            <p>Usuario autenticado: {{ user.username }}</p>
            <a href="{% url 'login' %}" class="logout-btn">Cerrar sesión</a>
        {% else %}
            <p>No has iniciado sesión. <a href="{% url 'login' %}">Inicia sesión aquí</a></p>
        {% endif %}
    </div>

    <div class="container">
        <div class="wrapper">
            <h1>Subir archivo DICOM</h1>
            <form method="post" enctype="multipart/form-data">
                <div class="input-box">
                    {% csrf_token %}
                    <input type="file" name="archivo_dicom" accept=".dcm">
                    <button type="submit">Subir Archivo</button>
                </div>
            </form>
        </div>
        
        <div class = "image-section">
            {% if imagen %}
                <h2>Imagen DICOM</h2>
                    <div class="image-container">
                        <img id="image" src="{{ imagen }}" alt="Imagen DICOM">
                    </div>
            {% endif %}
        </div>
    </div>
    
    <div class="content-section">
            
        <div class="info">
            
            <div class="w3-container">

                <h2>Funciones disponibles:</h2>
                <p>
                    <button class="w3-button w3-block w3-blue" onclick="infoDicom()">Visualizar información de cabecera</button>
                </p>
                <p>
                    <button class="w3-button w3-block w3-blue" onclick="toggleFilters()">Ajustes de imagen</button>
                </p>
                
            </div>
        </div>
        

        <div id="filters" style="display: none;">
            <h2>Ajustes de imagen</h2>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                
                <div>
                    <label for="contrast">Contraste:</label>
                    <input type="range" id="contrast" name="contrast" min="0.5" max="2.0" step="0.1" value="1.0">
                </div>
        
                <div>
                    <label for="negative">Imagen negativa:</label>
                    <input type="checkbox" id="negative" name="negative">
                </div>
        
                <div>
                    <label for="colormap">Filtro de color:</label>
                    <select id="colormap" name="colormap">
                        <option value="">Ninguno</option>
                        <option value="gray">Escala de grises</option>
                        <option value="sepia">Sepia</option>
                    </select>
                </div>
        
                
            </form>
        </div>
    </div> 
    
    <script>
        
        function infoDicom(){
            window.open("{% url 'dicom_header' %}", "DICOMHeader", "width=800,height=500,resizable=yes,scrollbars=yes");
        };
    </script>

    <script>
        function toggleFilters() {
            const filtersDiv = document.getElementById("filters");
            if (filtersDiv.style.display === "none") {
                filtersDiv.style.display = "block";  // Mostrar los filtros
            } else {
                filtersDiv.style.display = "none";   // Ocultar los filtros
            }
        }   
        
        document.addEventListener("DOMContentLoaded", function () {
            const image = document.getElementById("image");
            const contrastControl = document.getElementById("contrast");
            const negativeControl = document.getElementById("negative");
            const colormapControl = document.getElementById("colormap");
            const applyFiltersButton = document.getElementById("applyFilters");
            const jpegUrl = "{{ imagen }}";  // URL del archivo JPEG original

            // Función que se ejecuta cuando el usuario cambia los controles
            function updateImage() {
                const contrastValue = contrastControl.value;
                const negative = negativeControl.checked;
                const colormap = colormapControl.value;

                const baseUrl = "{% url 'apply_filters' %}";
                const url = `${baseUrl}?jpeg_url=${jpegUrl}&contrast=${contrastValue}&negative=${negative}&colormap=${colormap}`;

                fetch(url)
                    .then(response => response.json())
                    .then(data => {
                        // Aquí se actualiza la imagen
                        image.src = 'data:image/png;base64,' + data.image_data;
                    })
                    .catch(error => {
                        console.error("Error al aplicar los filtros:", error);
                    });
            }

            contrastControl.addEventListener("input", updateImage);  
            negativeControl.addEventListener("change", updateImage);  
            colormapControl.addEventListener("change", updateImage);

           
            updateImage();
        });

    </script>
</body>
</html>
