<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de subida de archivos</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="navbar">
        {% if user.is_authenticated %}
            <p>Usuario autenticado: {{ user.username }}</p>
            <a href="{% url 'login' %}" class="logout-btn">Cerrar sesión</a>
        {% else %}
            <p>No has iniciado sesión. <a href="{% url 'login' %}">Inicia sesión aquí</a></p>
        {% endif %}
    </div>
    <div class="container">
       
        <div class="info">
            <form method="GET">
                <input type="text" name="search" placeholder="Buscar en cabecera..." value="{{ search_query }}">
                <button type="submit">Buscar</button>
            </form>

            {% if metadata %}
                <h2>Información del DICOM</h2>
                <ul>
                    {% for key, value in metadata.items %}
                        {% if key != 'Pixel Data' %}
                            <li><strong>{{ key }}:</strong> {{ value }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}
                <p>No se encontraron metadatos que coincidan con la búsqueda.</p>

            {% if original_metadata and not search_query %}
                <h2>Metadatos completos</h2>
                <ul>
                    {% for key, value in original_metadata.items %}
                        <li><strong>{{ key }}:</strong> {{ value }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
</body>
</html>
