<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Subida de Archivos</title>
</head>
<body>
    <h1>Subir Archivo DICOM</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="archivo_dicom">
        <button type="submit">Subir</button>
    </form>

    {% if imagen %}
        <h2>Imagen DICOM</h2>
        <img src="{{ imagen }}" alt="Imagen DICOM">
    {% endif %}
</body>
</html>
